
.hamburger {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    background-color: black;
    z-index: 6;
  }

  .burger {
    width: 2rem;
    height: 0.25rem;
    border-radius: 10px;
    background-color: white;
    transform-origin: 1px;
    transition: all 0.3s linear;
  }

  .burger1 {
    transform: var(--burger-transform1);
  }
  .burger2 {
    transform: var(--burger-transform2);
    opacity: var(--burger-opacity);
  }
  .burger3 {
    transform: var(--burger-transform3);
  }