@keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh; /* Full height */
}

.container a {
    flex: 1 0 33.33%; /* Each link takes up 1/3 of the container's width */
    height: 100%; /* Full height */
    overflow: hidden; /* Hide anything that goes outside the link's area */
}

.container img {
    width: 100%; /* Full width */
    height: 80%; /* Full height */
    object-fit: cover; /* Maintain aspect ratio while scaling */
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }
}
 
.imageContainer {
    position: relative;
    width: 100%;
    height: 100%;
    animation: slideIn 0.75s ease-in-out;
}
.imageContainer1 {
    position: relative;
    width: 100%;
    height: 100%;
    animation: slideIn 1s ease-in-out;
}
.imageContainer2 {
    position: relative;
    width: 100%;
    height: 100%;
    animation: slideIn 1.25s ease-in-out;
}

.imageText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F8C983;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    white-space: nowrap;
}

