.paragraph {
    border: 6px double;
    padding: 20px;
    margin: 30px 30px 0px;
    border-radius: 10px;
  }

  .paragraphApp {
    padding: 20px;
    text-align: center;
    font-size: x-large;
  }

  .paragraphPolicy {
    border: 6px double;
    padding: 20px;
    margin: 30px 30px 0px;
    border-radius: 10px;
  }
  
  .paragraph p {
    font-weight:normal;
    text-align: center;
    font-size: x-large;
  }
  
  @media(max-width: 767px){
    .paragraph p{
        font-size:large;
    }
    .paragraphApp {
      font-size: large;
    }
  }
  
